<h1>Item Types</h1>

<% if item_types.count > 0 %>
  <ul>
    <%= item_types.each do |item_type| %>
      <li>
        <%= item_type.name %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No item types have been created yet...</p>
<% end %>
