$font-size: 1rem;
$font-weight: 300;
$line-height: 1.125rem;

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: $font-weight;
}

div.main {
  // TODO: make responsive
  max-width: 800px;
}

fieldset, input, select, textarea {
  font-family: inherit;
  font-size: $font-size;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;

  border: 1px solid rgba(0,0,0,.125);
  border-radius: 3px;
}

form {
  fieldset, input, select, textarea, div.Select, div.react-tagsinput {
    display: block;
    margin-bottom: .5rem;
  }
}

input[type=date], input[type=datetime-local], input[type=datetime],
input[type=email], input[type=month], input[type=number],
input[type=password], input[type=search], input[type=tel], input[type=text],
input[type=time], input[type=url], input[type=week] {
  width: 75%;
  height: 2.25rem;
  padding: .5rem;
  vertical-align: middle;
  -webkit-appearance: none;
}

div.Select, div.react-tagsinput {
  width: 75%;
  height: 2.25rem;
  vertical-align: middle;
  -webkit-appearance: none;
}

textarea {
  width: 100%;
  height: 5rem;
  padding: .5rem;
  -webkit-appearance: none;
}

$button-color: #0074d9;
$button-shadow-color: rgba(0,0,0,.0625);
$button-radius: 3px;
$button-padding-y: .5rem;
$button-padding-x: 1rem;

input[type=button], input[type=submit], a.btn, button {
  color: $button-color;
  font-family: inherit;
  font-size: $font-size;
  font-weight: $font-weight;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  line-height: $line-height;
  padding: $button-padding-y $button-padding-x;
  margin: 0 0 .5rem 0;
  height: auto;
  border: 1px solid transparent;
  vertical-align: middle;
  -webkit-appearance: none;
  background-color: transparent;
  border-radius: $button-radius;
  border-color: $button-color;

  &:hover {
    text-decoration: none;
    border-color: $button-color;
    box-shadow: inset 0 0 0 20rem $button-shadow-color;
  }
  &:focus {
    outline: none;
    border-color: darken($button-color, 20%);
    box-shadow: 0 0 0 3px $button-shadow-color;
  }
  &:active {
    box-shadow: inset 0 0 0 20rem $button-shadow-color,
    inset 0 3px 4px 0 darken($button-color, 30%),
    0 0 1px darken($button-color, 20%);
  }
  &:disabled {
    opacity: .5;
  }
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}
